

@font-face {
  font-family: Gotham;
  src: url(../fonts/gotham/GothamHTF-Light.otf);
  font-weight: 200;
}

@font-face {
  font-family: Gotham;
  src: url(../fonts/gotham/GothamHTF-Book.otf);
  font-weight: 400;
}

@font-face {
  font-family: Gotham;
  src: url(../fonts/gotham/GothamHTF-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: Gotham;
  src: url(../fonts/gotham/GothamHTF-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: Gotham;
  src: url(../fonts/gotham/GothamHTF-Black.otf);
  font-weight: 900;
}


@font-face {
  font-family: Gotham;
  src: url(../fonts/gotham/GothamHTF-LightItalic.otf);
  font-weight: 200;
  font-style:  oblique;
}

@font-face {
  font-family: Gotham;
  src: url(../fonts/gotham/GothamHTF-BookItalic.otf);
  font-weight: 400;
  font-style:  oblique;
}

@font-face {
  font-family: Gotham;
  src: url(../fonts/gotham/GothamHTF-BoldItalic.otf);
  font-weight: 700;
  font-style:  oblique;
}

@font-face {
  font-family: Gotham;
  src: url(../fonts/gotham/GothamHTF-BlackItalic.otf);
  font-weight: 900;
  font-style:  oblique;
}